body {
  background-color: yellow;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  background-color: pink;
  font-family: Helvetica;
  font-weight: 100;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p {
  padding: 20px;
  margin: 0;
  background-color: red;
  font-family: cursive;
  text-decoration: underline;
  color: blue;
  font-weight: 800;
}

#container {
  padding:10px;
  margin:0;
  width: 500px;
}

.joisey {
  font-family: cursive;
  color: orange;
  font-weight: 800;
}
